/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

img {
    width: 300px;
    height: 270px;
}

#back {
    background-image: url(ratush.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    padding: 200px 0 200px 0;
    width: auto;
    height: 500px;
}

#textC {
    background-color:#1D3557;
    border: 4px solid #1D3557;
    border-radius: 5px;
    padding: 5px;
    font-weight: 800;
    font-size: 40px;
}

#textI {
    background-color:#457B9D;
    border: 4px solid #457B9D;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;

}

h1,h2 {
    color: azure;
}


/* Next top three */

#second {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.resize {
    margin: 0px 20px;
}

#color {
    background-color: #F1FAEE;
    padding: 20px;
}

#centerT {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 50px;
}

.circleImage {
    border-radius: 50%;

}

.textAbout {
    font-size: 17px;
    font-weight: 400;
}

.textTopic {
    font-size: 18px ;
    font-weight: 600;
}

/* Guide SECTION */
#guideRound {
width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #BCF4F5;
    color: #000000;
    border-bottom: 6px solid #D3FAC7;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

#RoundImage {
    width: 200px ;
    border-radius: 10px;
}

#yourG {
    font-weight: 700;
    font-size: 25px;

}

.textguide {
    margin-left: 13px;
    font-size: 17px;
}
